.dish-container {
  width: 80%;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

mat-row:hover{
  background-color: aliceblue;
  cursor: pointer;
}

button {
  margin-right: 15%;
}

img {
  height: 40px;
}
