<h3 mat-dialog-title> Edit customer </h3>

<mat-dialog-content>
  <div class="customer-component">

    <form class="dialog-form" [formGroup]="customer">
      <mat-form-field class="customer-field-component">
        <input matInput placeholder="Id" formControlName="id">
      </mat-form-field>

      <mat-form-field class="customer-field-component">
        <input matInput placeholder="FirstName" formControlName="firstName">
      </mat-form-field>

      <mat-form-field class="customer-field-component">
        <input matInput placeholder="LastName" formControlName="lastName">
      </mat-form-field>

    </form>

  </div>

  <button class="customer-field-component" mat-raised-button (click)="editData()"> Edit </button>
</mat-dialog-content>
