<form class="signout-form" [formGroup]="newUser">
  <mat-card>

  <mat-card-title>  <h1> Sign up </h1> </mat-card-title>

    <mat-card-content>
      <mat-form-field class="new-user-field-component">
        <input matInput placeholder="Login" formControlName="email">
      </mat-form-field>

      <mat-form-field class="new-user-field-component">
        <input matInput placeholder="FirstName" formControlName="firstName">
      </mat-form-field>

      <mat-form-field class="new-user-field-component">
        <input matInput placeholder="LastName" formControlName="lastName">
      </mat-form-field>

      <mat-form-field class="new-user-field-component">
        <input matInput placeholder="Age" formControlName="age">
      </mat-form-field>

      <mat-form-field class="new-user-field-component">
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>

      <button class="new-user-field-component" mat-raised-button (click)="registerUser()"> Register </button>
    </mat-card-content>

  </mat-card>
</form>
